<div id="<%= dom_id track %>">
  <p>
    <strong>Lead:</strong>
    <%= track.lead_id %>
  </p>

  <p>
    <strong>Buyer:</strong>
    <%= track.buyer_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= track.status %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= track.description %>
  </p>

  <p>
    <strong>Visit date:</strong>
    <%= track.visit_date %>
  </p>

  <p>
    <strong>Visit time:</strong>
    <%= track.visit_time %>
  </p>

</div>
