<div id="<%= dom_id assignment %>">
  <p>
    <strong>Admin:</strong>
    <%= assignment.admin_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= assignment.title %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= assignment.company_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= assignment.user_id %>
  </p>

  <p>
    <strong>Seller:</strong>
    <%= assignment.seller_id %>
  </p>

  <p>
    <strong>Property:</strong>
    <%= assignment.property_id %>
  </p>

</div>
