<div id="<%= dom_id seller %>">
  <p>
    <strong>Name:</strong>
    <%= seller.name %>
  </p>

  <p>
    <strong>Home address:</strong>
    <%= seller.home_address %>
  </p>

  <p>
    <strong>Home address street number:</strong>
    <%= seller.home_address_street_number %>
  </p>

  <p>
    <strong>Home address city:</strong>
    <%= seller.home_address_city %>
  </p>

  <p>
    <strong>Home address state:</strong>
    <%= seller.home_address_state %>
  </p>

  <p>
    <strong>Home address country:</strong>
    <%= seller.home_address_country %>
  </p>

  <p>
    <strong>Home address society:</strong>
    <%= seller.home_address_society %>
  </p>

  <p>
    <strong>Home address phase:</strong>
    <%= seller.home_address_phase %>
  </p>

  <p>
    <strong>Home address sector:</strong>
    <%= seller.home_address_sector %>
  </p>

  <p>
    <strong>Business address:</strong>
    <%= seller.business_address %>
  </p>

  <p>
    <strong>Business address street number:</strong>
    <%= seller.business_address_street_number %>
  </p>

  <p>
    <strong>Business address city:</strong>
    <%= seller.business_address_city %>
  </p>

  <p>
    <strong>Business address state:</strong>
    <%= seller.business_address_state %>
  </p>

  <p>
    <strong>Business address country:</strong>
    <%= seller.business_address_country %>
  </p>

  <p>
    <strong>Business address society:</strong>
    <%= seller.business_address_society %>
  </p>

  <p>
    <strong>Business address phase:</strong>
    <%= seller.business_address_phase %>
  </p>

  <p>
    <strong>Business address sector:</strong>
    <%= seller.business_address_sector %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= seller.email %>
  </p>

  <p>
    <strong>Mobile:</strong>
    <%= seller.mobile %>
  </p>

  <p>
    <strong>Telephone:</strong>
    <%= seller.telephone %>
  </p>

  <p>
    <strong>Fax:</strong>
    <%= seller.fax %>
  </p>

  <p>
    <strong>Whatsapp:</strong>
    <%= seller.whatsapp %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= seller.admin_id %>
  </p>

</div>
