<div id="<%= dom_id amenity %>">
  <p>
    <strong>Amenity type:</strong>
    <%= amenity.amenity_type %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= amenity.name %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= amenity.capacity %>
  </p>

  <p>
    <strong>Property:</strong>
    <%= amenity.property_id %>
  </p>

</div>
