<div id="<%= dom_id buyer %>">
  <p>
    <strong>Name:</strong>
    <%= buyer.name %>
  </p>

  <p>
    <strong>Home address:</strong>
    <%= buyer.home_address %>
  </p>

  <p>
    <strong>Home address street number:</strong>
    <%= buyer.home_address_street_number %>
  </p>

  <p>
    <strong>Home address city:</strong>
    <%= buyer.home_address_city %>
  </p>

  <p>
    <strong>Home address state:</strong>
    <%= buyer.home_address_state %>
  </p>

  <p>
    <strong>Home address country:</strong>
    <%= buyer.home_address_country %>
  </p>

  <p>
    <strong>Home address society:</strong>
    <%= buyer.home_address_society %>
  </p>

  <p>
    <strong>Home address phase:</strong>
    <%= buyer.home_address_phase %>
  </p>

  <p>
    <strong>Home address sector:</strong>
    <%= buyer.home_address_sector %>
  </p>

  <p>
    <strong>Business address:</strong>
    <%= buyer.business_address %>
  </p>

  <p>
    <strong>Business address street number:</strong>
    <%= buyer.business_address_street_number %>
  </p>

  <p>
    <strong>Business address city:</strong>
    <%= buyer.business_address_city %>
  </p>

  <p>
    <strong>Business address state:</strong>
    <%= buyer.business_address_state %>
  </p>

  <p>
    <strong>Business address country:</strong>
    <%= buyer.business_address_country %>
  </p>

  <p>
    <strong>Business address society:</strong>
    <%= buyer.business_address_society %>
  </p>

  <p>
    <strong>Business address phase:</strong>
    <%= buyer.business_address_phase %>
  </p>

  <p>
    <strong>Business address sector:</strong>
    <%= buyer.business_address_sector %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= buyer.email %>
  </p>

  <p>
    <strong>Mobile:</strong>
    <%= buyer.mobile %>
  </p>

  <p>
    <strong>Telephone:</strong>
    <%= buyer.telephone %>
  </p>

  <p>
    <strong>Fax:</strong>
    <%= buyer.fax %>
  </p>

  <p>
    <strong>Whatsapp:</strong>
    <%= buyer.whatsapp %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= buyer.admin_id %>
  </p>

</div>
