<div id="<%= dom_id sale %>">
  <p>
    <strong>Admin:</strong>
    <%= sale.admin_id %>
  </p>

  <p>
    <strong>Lead:</strong>
    <%= sale.lead_id %>
  </p>

  <p>
    <strong>Buyer:</strong>
    <%= sale.buyer_id %>
  </p>

  <p>
    <strong>Seller:</strong>
    <%= sale.seller_id %>
  </p>

  <p>
    <strong>Property verified:</strong>
    <%= sale.property_verified %>
  </p>

  <p>
    <strong>Mortgage cleared:</strong>
    <%= sale.mortgage_cleared %>
  </p>

  <p>
    <strong>Sale date:</strong>
    <%= sale.sale_date %>
  </p>

  <p>
    <strong>Sale time:</strong>
    <%= sale.sale_time %>
  </p>

</div>
