<div class="nested-fields">
        <div class="field">
            <%= f.label :name %>
            <%= f.text_field :name %>
        </div>

        <div class="field">
            <%= f.label :cnic %>
            <%= f.text_field :cnic %>
        </div>

        <div class="field">
            <%= f.label :phone %>
            <%= f.text_field :phone %>
        </div>

        <div class="field">
          <%= f.label :address %>
          <%= f.text_field :address %>
        </div>

        <div class="field">
          <%= f.label :whatsapp %>
          <%= f.text_field :whatsapp %>
        </div>

        <div class="field">
          <%= f.label :email %>
          <%= f.text_field :email %>
        </div>
        <%= link_to_remove_association 'Remove Witness', f %>
</div>